
@{
    ViewBag.Title = "Note";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<div class="content animate-panel">

    <div class="row">
        <div class="col-md-2">
            <div class="hpanel panel-group">
                <div class="panel-body">
                    <div class="text-center text-muted font-bold"><h3>MCN Helper</h3></div>
                </div>


                <div id="notes" class="collapse">

                    <div class="panel-body note-link">
                        <a href="#note1" data-toggle="tab">
                            <small class="pull-right text-muted">2018-07-16</small>
                            <h5>Freight Module</h5>
                            <div class="small">
                                MCN -> Generate MCN -> Freight Module
                            </div>
                        </a>
                    </div>

                    <div class="panel-body note-link">
                        <a href="#note2" data-toggle="tab">
                            <small class="pull-right text-muted">22.01.2016</small>
                            <h5>
                                Latin literature from
                            </h5>
                            <div class="small">
                                Lorem Ipsum, you need to be sure there
                            </div>
                        </a>
                    </div>

                    <div class="panel-body note-link">
                        <a href="#note3" data-toggle="tab">
                            <small class="pull-right text-muted">14.03.2016</small>
                            <h5>
                                The generated Lorem Ipsum
                            </h5>
                            <div class="small">
                                It has survived not only five centuries
                            </div>
                        </a>
                    </div>

                    <div class="panel-body note-link">
                        <a href="#note4" data-toggle="tab">
                            <small class="pull-right text-muted">07.10.2015</small>
                            <h5>
                                Neque porro quisquam
                            </h5>
                            <div class="small">
                                Finibus Bonorum et Malorum
                            </div>
                        </a>
                    </div>

                    <div class="panel-body note-link">
                        <a href="#note5" data-toggle="tab">
                            <small class="pull-right text-muted">12.04.2015</small>
                            <h5>
                                The first line of Lorem Ipsum
                            </h5>
                            <div class="small">
                                Lorem Ipsum which looks reasonable
                            </div>
                        </a>
                    </div>

                </div>



            </div>
        </div>
        <div class="col-md-10">
            <div class="hpanel">

                <div class="panel-body">

                  
                    <div class="tab-content">
                        <div id="note1" class="tab-pane active">
                            <div class="pull-right text-muted m-l-lg">
                                2018-07-16
                            </div>
                            <h3>Freight Module</h3>
                            <hr />
                            <div class="note-content">
                                <p>1. Check and DD</p>
                                <p>
                                    2. FFIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                </p>
                                <p>
                                <p>
                                    3. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                                </p>
                                <p>
                                    4. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                </p>
                                <p>
                                    5. Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                </p>
                                <p>1. Check and DD</p>
                                <p>
                                    2. FFIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    <img class="img-screenshot" src="~/Images/Helper/MCN-1.png" />
                                </p>
                                <p>
                                <p>
                                    3. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                                </p>
                                <p>
                                    4. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                    <img class="img-screenshot" src="~/Images/Helper/MCN-2.png" />
                                </p>
                                <p>
                                    5. Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                </p>
                                <p>1. Check and DD</p>
                                <p>
                                    2. FFIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                </p>
                                <p>
                                <p>
                                    3. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                                </p>
                                <p>
                                    4. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                </p>
                                <p>
                                    5. Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                </p>
                              
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-default"><i class="fa fa-thumbs-o-up"></i> Save</button>
                                <button class="btn btn-sm btn-default"><i class="fa fa-trash"></i> Remove</button>
                            </div>
                        </div>

                        <div id="note2" class="tab-pane">
                            <div class="pull-right text-muted m-l-lg">
                                22.01.2016
                            </div>
                            <h3>Latin literature from </h3>
                            <hr />
                            <div class="note-content">
                                <textarea class="form-control">Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.

                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.

                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                                </textarea>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-default"><i class="fa fa-thumbs-o-up"></i> Save</button>
                                <button class="btn btn-sm btn-default"><i class="fa fa-trash"></i> Remove</button>
                            </div>
                        </div>

                        <div id="note3" class="tab-pane">
                            <div class="pull-right text-muted m-l-lg">
                                14.03.2016
                            </div>
                            <h3>The generated Lorem Ipsum </h3>
                            <hr />
                            <div class="note-content">
                                <textarea class="form-control">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.

                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                                    Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.

                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                                </textarea>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-default"><i class="fa fa-thumbs-o-up"></i> Save</button>
                                <button class="btn btn-sm btn-default"><i class="fa fa-trash"></i> Remove</button>
                            </div>
                        </div>

                        <div id="note4" class="tab-pane">
                            <div class="pull-right text-muted m-l-lg">
                                07.10.2015
                            </div>
                            <h3>Neque porro quisquam</h3>
                            <hr />
                            <div class="note-content">
                                <textarea class="form-control">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.

                                    Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                </textarea>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-default"><i class="fa fa-thumbs-o-up"></i> Save</button>
                                <button class="btn btn-sm btn-default"><i class="fa fa-trash"></i> Remove</button>
                            </div>
                        </div>

                        <div id="note5" class="tab-pane">
                            <div class="pull-right text-muted m-l-lg">
                                12.04.2015
                            </div>
                            <h3>The first line of Lorem Ipsum </h3>
                            <hr />
                            <div class="note-content">
                                <textarea class="form-control">Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.

                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                                </textarea>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-default"><i class="fa fa-thumbs-o-up"></i> Save</button>
                                <button class="btn btn-sm btn-default"><i class="fa fa-trash"></i> Remove</button>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>


</div>

<style>
    .img-screenshot {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 80%;
        height: 80%;
    }
</style>

