


<h3>Account Dept</h3>

<hr />
<div class="note-content" style="font-size:15px;">
    <p style="font-size:18px;padding-bottom:5px;">Accounting Dept -> Freight Module -> Approve & Combine</p>


    <img class="img-screenshot" src="~/Images/Helper/MCN-AtApv-1.png" />

    <p>
        1. 检查PayerCode、Amount、Currency是否与Lara匹配
    </p>
    <p>
        2. 如果有任务问题，都可以Reject并且填上Reject理由，同时，MCN的流程将回到第一步（Department Approve阶段）
    </p>
    <p>
        3. 如果没有问题，则打勾Approved勾选框，点击Confirm。
    </p>
    <p>
        4. 全部核对完毕后，在Lara中Generate tax invoice，同时打勾Invoiced勾选框，点击Confirm。
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-AtApv-2.png" />

    <p>
        1. 对于一个客户存在多个MCN改单的情况，可以合并到一个明细列表。
    </p>

    <img class="img-screenshot" src="~/Images/Helper/MCN-AtApv-3.png" />
</div>