
<h3>D/D Module</h3>

<hr />
<div class="note-content" style="font-size:14px;">
    <p>1. Check and DD</p>
    <div class="small">
        MCN -> Generate MCN -> D/D Module
    </div>
    <p>
        2. FFIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
    </p>
    <p>
    <p>
        3. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    </p>
    <p>
        4. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
    <p>
        5. Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
    </p>
    <p>1. Check and DD</p>
    <p>
        2. FFIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        <img class="img-screenshot" src="~/Images/Helper/MCN-1.png" />
    </p>
    <p>
    <p>
        3. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    </p>
    <p>
        4. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        <img class="img-screenshot" src="~/Images/Helper/MCN-2.png" />
    </p>
    <p>
        5. Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
    </p>
    <p>1. Check and DD</p>
    <p>
        2. FFIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
    </p>
    <p>
    <p>
        3. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    </p>
    <p>
        4. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
    <p>
        5. Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
    </p>

</div>