
<h3>D/D Module</h3>

<hr />
<div class="note-content" style="font-size:14px;">
    <div class="small">
        MCN -> Generate MCN -> D/D Module
    </div>

    <img class="img-screenshot" src="~/Images/Helper/MCN-DD-2.png" />
    <p>1. 输入你想修改运费的B/L Number回车查询，Vessel/Voyage和该Voyage下相关的BL Number将自动显示在列表中，同时系统将默认选择所查询的BL Number。 </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-DD-1.png" />

    <p>
        2. 根据查询结果得到提单号列表后，进行以下操作。
    </p>
    <p style="margin-left:20px;">
        a. 选择需要修改的BL Number，可以选择多个提单号进行费用修改。对于多收部分MCN的更改，只需要填写实收金额，无需像Lara中做负数，为了抵扣多收部分的操作。
    </p>
    <p style="margin-left:20px;">
        b. 选择BL Numbers后，点击"Refresh"，获取已选择的提单下所有相关的Charge Code并显示在列表中。
    </p>
    <p style="margin-left:20px;">
        c. 勾选Charge Codes（此处可以多选），点击 ">>"。
    </p>
    <p style="margin-left:20px;">
        d. 右侧界面会罗列出需要修改的Charge Codes信息（此处以每个ChargeCode为一行）, 原始的记录将显示在"Original"栏，修改后的记录将显示在"Correct to"栏。
    </p>
    <p style="margin-left:20px;">
        e. 在Correct To栏目下，所有的列都能修改，还可以新增ChargeCode和删除原有的ChargeCode。
    </p>
    <p style="margin-left:20px;">
        f. 批量Delete不需要的记录，打勾"Delete"则字体成红色。
    </p>

    <img class="img-screenshot" src="~/Images/Helper/MCN-DD-9.png" />

    <p>
        3. 操作按钮介绍：
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-DD-6.png" />
    <p style="margin-left:20px;">
        a. MCN Reason -> 选择更改理由(可多选)，也可以自定义理由到Memo栏。
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-DD-10.png" />
    <p style="margin-left:20px;">
        b. Org. Trace -> 原始提单的操作记录。
    </p>
    <p style="margin-left:20px;">
        c. MCN Trace -> MCN的操作记录。
    </p>
    <p style="margin-left:20px;">
        d. Attachment -> 上传与MCN相关的附件（通常为邮件）。
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-FM-9.png" />
    <p style="margin-left:40px;">
        d.1 文件上传 -> 点击文件路径("...")，选择需要上传的文件。如果需要上传多个文件，可在文件序号处双击空白的地方进行多文件上传。
    </p>
    <p style="margin-left:40px;">
        d.2 历史记录 -> 查看附件所有增删改的记录。
    </p>
    <p style="margin-left:40px;">
        d.3 浏览 -> 查看每个附件的内容。
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-DD-11.png" />
    <p style="margin-left:40px;">
        d.4 保存 -> 上传文件确认无误后可以保存。
    </p>
    <p style="margin-left:20px;">
        e. Copy -> 选中记录点击"Copy"。
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-FM-11.png" />
    <p style="margin-left:20px;">
        f. Paste -> 点击 "Paste"出现之前拷贝的记录。
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-FM-12.png" />
    <p style="margin-left:20px;">
        g. To File -> 生成MCN的汇总Excel文件，黄色高亮部分为修改过的项目。
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-DD-5.png" />

    <p style="margin-left:20px;">
        h. Save -> 保存MCN的更改，生成MCN ID，此时的状态为Draft。
    </p>

    <p style="margin-left:20px;">
        i. Sumbit -> 提交，MCN将进入下一步操作流程。
    </p>

</div>