
<h3>Dept & GM Approve</h3>

<hr />
<div class="note-content" style="font-size:15px;">
    <p style="font-size:18px;padding-bottom:5px;">Dept Approve</p>
    <div class="small">
        MCN -> Dept Approve
    </div>
    <p>
        1. 通过查询条件From、To、Key Works、Not Dept Apv进行查询，列出所有提交的MCN申请。
    </p>
    <p>
        2. Department Header点击Detail和Attachment查看详细信息和附件
    </p>
    <p>
        3. Department Header可以Reject MCN申请，单击Reject按钮，并且写上Reject的理由。
    </p>
    <p>
        4. Department Header查看无误后，可以打勾Dept Apv，单击Confirm。该申请将会进入下一个GM的审批流程。
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-DeptApv-1.png" />
    <p style="font-size:18px;padding-bottom:5px;">GM Approve</p>
    MCN -> GM Approve
    <p>
        1. 通过查询条件From、To、Key Works、Not Apv进行查询，列出所有Department Header Approve的MCN。
    </p>
    <p>
        2. GM点击Detail和Attachment查看详细信息和附件
    </p>
    <p>
        3. GM可以Reject MCN申请，单击Reject按钮，并且写上Reject的理由。
    </p>
    <p>
        4. GM查看无误后，可以打勾GM Apv，单击Confirm。该申请将会进入下一个Doc Assign流程。
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-GMApv-1.png" />

</div>
