

<h3>Doc Assign & Lara Modification</h3>

<hr />
<div class="note-content" style="font-size:15px;">
    <p style="font-size:18px;padding-bottom:5px;">Doc Assign</p>
    <div class="small">
        MCN -> Lara Modification
    </div>
    <p>
        1. 通过查询条件From、To、Status=Lara Unmodified、BL No进行查询，列出所有还未在Lara中修改运费的记录。
    </p>
    <p>
        2. 单击Assign To下拉列表，选择负责的同事，Conform保存。
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-DocAssign-1.png" />
    <p style="font-size:18px;padding-bottom:5px;">Lara Modification</p>
    <div class="small">
        MCN -> Lara Modification
    </div>
    <p>
        1. 维护所有Charge信息在Lara，Print Lara Invoice，在Lara Mdy打勾，Confirm保存。
    </p>
    <p>
        2. 当Conform后，MCN将流向到财务审核部分。
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-DocAssign-2.png" />
</div>