

<h3>Doc Assign & Lara Modification</h3>

<hr />
<div class="note-content" style="font-size:15px;">
    <p style="font-size:18px;padding-bottom:5px;">Doc Assign</p>
    <div class="small">
        MCN -> Doc Assign
    </div>
    <p>
        1. 通过查询条件From、To、Status=Lara Unmodified、BL No进行查询，列出所有还未在Lara中修改运费的记录。
    </p>
    <p>
        2. 除了功能列，所有的列名都可以进行排序
    </p>
    <p>
        3. 单击Assign To下拉框，选择负责的同事。
    </p>
    <P>
        4. 为方便，我们提供了多选，先勾选记录复选框，单击Assign To下拉框，选择负责的人员，这些选择的记录会自动附上。如果多选的记录内，列Assign To已赋值，则不会被覆盖。
    </P>
    <img class="img-screenshot" src="~/Images/Helper/MCN-DocAssign-3.png" />
    <p>
        5. 所有操作完成后，点击Conform保存。
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-DocAssign-1.png" />



    <p style="font-size:18px;padding-bottom:5px;">Lara Modification</p>
    <div class="small">
        MCN -> Lara Modification
    </div>
    <p>
        1. 维护所有Charge信息在Lara，Print Lara Invoice，在Lara Mdy打勾，Confirm保存。
    </p>
    <p>
        2. 当Conform后，MCN将流向到财务审核部分。
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-DocAssign-2.png" />

</div>