
<h3>Freight Module</h3>

<hr />
<div class="note-content" style="font-size:15px;">
    <div class="small">
        MCN -> Generate MCN -> Freight Module
    </div>

    <img class="img-screenshot" src="~/Images/Helper/MCN-FM-1.png" />
    <p>1. 输入你想修改运费的B/L Number回车查询，Vessel/Voyage和该Voyage下相关的BL Number将自动显示在列表中，同时系统将默认选择所查询的BL Number。 </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-FM-4.png" />
    <p style="margin-left:10px;font-size:15px;color:darkred;">
        <i class="fa fa-star"></i> 常见问题解决办法:
    </p>
    <p>
        <a style="margin-left:40px;" href="#" target="_blank"> 1). 输入BLNo找不到改票的处理方法？</a>
    </p>
    <p>
        2. 单击 "Refresh" 该票提单下面的所有Charge Code都显示下列表中，选择需要修改的ChargeCode点击 ">>"，原始的记录将显示在"Original"栏，修改后的记录将显示在"Correct to"栏。
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-FM-5.png" />
    <p>
    <p>
        3. 在Correct To栏目下，所有的列都能修改。操作按钮：
    </p>
    <p style="margin-left:20px;">
        a. MCN Reason -> 选择更改理由，也可以自定义理由到Memo栏。
    </p>
    <p style="margin-left:20px;">
        b. Attachment -> 上传与MCN相关的附件（通常为邮件）
    </p>
    <p style="margin-left:20px;">
        c. Save -> 保存MCN的更改，生成MCN ID
    </p>
    <p style="margin-left:20px;">
        d. Sumbit -> 提交，MCN将进入下一步操作流程
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-FM-6.png" />
    <p style="margin-left:20px;">
        e. To xls -> 导出MCN到Excel
    </p>
    <img class="img-screenshot" src="~/Images/Helper/MCN-FM-7.png" />
    <p style="margin-left:20px;">
        f. Org. Trace -> 查询原始的操作记录
    </p>
    <p style="margin-left:20px;">
        g. MCN Trace -> 查询MCN的操作记录
    </p>
</div>