<div class="normalheader transition animated fadeInUp">
    @*small-header*@
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li>
                        <span>App views</span>
                    </li>
                    <li class="active">
                        <span>MyProjects</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                User
            </h2>
            <small>List of menus.</small>
        </div>
    </div>
</div>

<div class="content animated fadeInUp animate-panel">


</div>