@{
    ViewBag.Title = "InfoCenter";
}




<div class="content animated fadeInUp animate-panel">

    <div class="row">
        <div class="col-lg-12">
            <ul>
                <li>
                    1. Add DDR
                </li>
                <li>
                    2. Modify DDR
                </li>
                <li>
                    3. Remove DDR
                </li>
                <li>
                    4. Search
                </li>
                <li>
                    5. Changelog
                </li>
                <li>
                    6. Inheriting DDR and generation new DDR
                </li>
                <li>
                    7. When saved, send email notice to admin group members.
                </li>

            </ul>
        </div>
    </div>


</div>
